.square {
    width: 400px;
    height: 400px;
    margin: 80px auto;
    transition: background-color 2s ease;
}

button {
    margin: 0 auto;
    display: block;
    font-size: 24px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}


